<!doctype html>
<html lang="en" xmlns:th="http://thymeLeaf.org"
	th:replace="base::layout(~{::div})">
<head>
<meta charset="UTF-8" />
<title>Child template</title>
</head>
<body>

	<div>
		<h1>This is child template</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil
			porro amet rem fugiat a blanditiis quae eos repudiandae suscipit iste
			ab id reiciendis voluptates sint numquam ullam repellat. Odit
			excepturi inventore neque eveniet sapiente vel fuga nihil animi quis
			pariatur quam ad. Est perspiciatis dolor nesciunt eos itaque impedit
			consectetur similique maiores odit quos. Sequi dolorem aperiam dolore
			illum officiis in laudantium neque est possimus unde cum iste esse
			eos accusamus dolor minus maxime fugiat odit quibusdam repellat saepe
			recusandae nulla necessitatibus nisi modi excepturi tempora
			voluptates quos non similique adipisci aliquam dolores magni
			consequuntur voluptatibus quam illo et repellendus.</p>
	</div>

</body>
</html>