<!doctype html>
<html lang="en" xmlns:th="http://thymeLeaf.oreg">
<head>
<meta charset="UTF-8" />
<title>Switch Example1</title>
</head>
<body>
	<div th:switch="${AccountStatus}">
		<h1 th:case="Active">
			AccountStatus : <span th:text="${AccountStatus}"></span>
		</h1>
		<h1 th:case="Closed">
			AccountStatus : <span th:text="${AccountStatus}"></span>
		</h1>

		<h1 th:case="Pending">
			AccountStatus : <span th:text="${AccountStatus}"></span>
		</h1>
		<h1 th:case="*">
			AccountStatus : <span th:text="${AccountStatus}"></span>
		</h1>
	</div>
</body>
</html>